<h1 class="text-center">Welcome to MY Shopping Application</h1>
<div class="container">
    <div class="row">
        <div class="col-8">
            <!-- here goes the card for product list-->
            <div class="card">
                <div class="card-header bg-info">
                    PRODUCT LIST
                </div>
                <div class="card-body">

                </div>
                <div class="card-footer">
                    @Copyright
                </div>
            </div>    
        </div>
        <div class="col-4">
            <!-- here goes the card for shopping cart-->
            <div class="card">
                <div class="card-header bg-warning">
                    Shopping Cart
                </div>
                <div class="card-body">

                </div>
                <div class="card-footer bg-dark text-light">
                    Total: 
                </div>
            </div>    

        </div>
    </div>
</div>
