<h1 class="text-center">Welcome to MY Shopping Application</h1>
<div class="container">
    <div class="row">
        <div class="col-8">
            <!-- here goes the card for product list-->
            <div class="card">
                <div class="card-header bg-info">
                    PRODUCT LIST
                </div>
                <div class="card-body">
                    <!-- here we have to traverse through the allProducts array and display the product information-->
                    <div class="row">
                        <div class="col-xl-3 col-sm-6 col-4" *ngFor="let product of allProducts">
                            <div class="card border border-success">
                                <img 
                                    [src]="product.product_image" 
                                    class="card-img-top" 
                                    [alt]="product.product_name"
                                    height="250px"
                                    width="120px">
                                <div class="card-body">
                                    <div class="card-title">{{ product.product_name }}</div>
                                    <div class="card-text">{{ product.product_price }}</div>
                                    <button type="button" class="btn btn-primary" (click)="addToCart(product)">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    @Copyright
                </div>
            </div>    
        </div>
        <div class="col-4">
            <!-- here goes the card for shopping cart-->
            <div class="card">
                <div class="card-header bg-warning">
                    Shopping Cart
                </div>
                <div class="card-body">
                    <table class="table table-stripped">
                        <thead>
                            <tr class="bg-dark text-white">
                                <th>NAME</th>
                                <th>PRICE</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of shoppingCart">
                                <td>{{item.product_name}}</td>
                                <td>{{item.product_price}}</td>
                                <td><button type="button" class="btn btn-danger" (click)="removeFromCart(item)">Remove</button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="card-footer bg-dark text-light">
                    Total: 
                </div>
            </div>    

        </div>
    </div>
</div>
